.bg-white {
	background-color: white;
}

.bg-grey {
	background-color: rgb(234, 237, 242);
}

.profile-image {
	width: 70%;
}

.section-container {
	margin-top: 30px;
	width: 90%;
	margin-bottom: 10px;
	transition: 0.5s;
}

.section-container:hover {
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
	background-color: rgb(196, 218, 255);
	padding: 35px;
}

.right {
	padding: 35px;
}

.footer {
	background-color:  black;
	color: white;
	width: 90%;
	padding: 10px;
}

.social-logo {
	display: inline;
	width: 30px;
	margin-right: 10px;
}

.fa {
	transition: 0.5s;
}

.fa:hover {
	font-size:30px;
}

.checked {
	color:orange;
}



