#fake_body {
	background-color: lightblue;
	color: white;
}
h1 {
	text-align: left;
}
form {
	text-align: center;
}
.status_memory {
	text-align: center;
	font-size: 20px;
	text-shadow: 20px;
	color: gray;
}
.btn {
	float: left;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: gray;
	transition-duration: 0.4s;
	
}
.btn:hover {
	background-color: #CCFFBB;
	color:  #005A04;
}
.mybutton {
	margin:30px 20px 10px 20px;
	display: inline-block;
	width: 80%;
	height: 50px;
	border-radius: 30px;
	
}
.card-header {
	text-align: left;
	font-size: 15px;
}
.card-body {
	text-align: center;
}
#welcoming {
	display: none;
}
#accordion {
	width: 300px;
	margin: 0px auto;
}
#accordion .ui-accordion-content {
	width: 100%;
	background-color: #f3f3f3;
	color: #777;
	font-size: 10pt;
	line-height: 16pt;
	margin-bottom: 10px;
	padding-top: 10px;
	border-radius: 25px;
}
#accordion .ui-accordion-content> * {
	margin: 0;
	padding: 25px;

}
#accordion h4 {
		background-color: white;
		color: gray;
		border-radius: 40px;
}
:focus, :active {
		outline: 0;
}
h4.title_acor {
	text-align: center;
}
.card {
	border-radius: 10px;
}
#middle_post {
	margin: 20px auto;
}