<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="{% static 'css/new.css' %}" rel="stylesheet">

		
		
		 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <script src="{% static 'js/logic.js' %}"></script> -->
	{% include "layout/navbar.html" %}
	</head>


	<body class="bg-grey">
	
	
	{% for e in progs%}
		<div class="container-fluid bg-white section-container rounded" id="bukutamu">
			<div class="row">
				<div class="col-md-4 left">
					<h1 style="color:white" id="progs"> {{e.title}}</h1>
                        <button class="w3-button w3-teal" id="seedonate" >See Donator</button>
				</div>
		
                      <a href="/crowd/donasi">
                        <button class="w3-button w3-teal" style="height:270px">Donate now</button>
                      </a>
				<div class="col-md-4">
					<div id="message-container" class="container-fluid">

					</div>
    <div class="row ">
        <div class="content col-md-4 left" >
          <img src="/static/img/01.jpg" alt="palu" style="width:200px;height:190px;border-radius: 50%;border-style: solid;
  border-width: 7px;">
          <div class="container">
            <h1></h1>
              
          </div>
        </div>
    </div>
	
	
	
   					
				</div>
			</div>
		</div>
		<div id="insrt">
			<h1>Hello</h1>
		</div>
 {% endfor %}	
		
		<div class="container-fluid bg-white section-container rounded" id="about">
			<div class="row">
				<div class="col-md-4 left">
					<h1 style="color:white" >Useru</h1>
				</div>
				{% for e in status %}
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Me posted</h5>
								<p class="card-text">{{e.Waktu|date:"j F Y H:i a"}}</p>
							</div>	
				  			<div class="card-body">
				    			<p class="card-text" id="my_status">{{e.Kabar}}</p>
				  			</div>
						</div>
						<br>
					{% endfor %}
			</div>
		</div>
		
	</body>
	<script>

    $("#seedonate").click(function() {
        $.ajax({
            url: "/viewmore/getuser/",
            success: function(data) {
                var html = "";
				//var progs=document.getElementById("progs").value;

                if (data.users.length == 0) {
                    html += "<h1>No User Donate</h1>"
                    $("#user-container").html(html);
                    $("#user-container").fadeIn("normal");
                    return;
                }
			
				
				html ="<table class='table table-bordered'><tr><th>Name</th><th>Email</th><th>Jumlah</th></tr>";
				html += "<h1>Donator Kami</h1>"
				//html += "<h1>"+progs"</h1>"
				for(var i = 0; i < data.users.length; i++) {
				 //if(data.users[i].fields.nama_program == progs ){
					html += "<tr>"
                    html += "<td>" + data.users[i].fields.nama + "</td>";
					 html += "<td>" + data.users[i].fields.email + "</td>";
					html += "<td>" + data.users[i].fields.jumlah + "</td>";
                   // }
               

                }
				
                
                
                console.log(html);
                $("#insrt").html(html);
                $("#insrt").fadeIn("normal");
            }
        })
    })

</script>
	
	
	{% include "layout/footer.html" %}
	
</html>