<!DOCTYPE html>
<html>
{% load static %}
<head>
{% include "layout/navbar.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{%static "css/view.css"%}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    {% for e in progs%}
    <div class="row ">
      <div class="column nature c">
        {% block content %}
          {% endblock %}
          <div class="content">
            <img src="/static/img/02.jpg" alt="palu" style="width:100%">
            <div class="container">
              <h4>{{e.title}}</h4>
              <p>{{e.paragraph}}</p>
              <div class="row">
								<div class="try col-sm-7">Terkumpul<br>{{e.terkumpul}}</div>
                <div class="try col-sm-5">Sisa Hari<br><b>9</b> hari</div>
                <div class="row">
                  	<div class="try col-sm-7">
                      <a href="/crowd/donasi">
                        <button class="w3-button w3-teal">Donate now</button>
                      </a>
                    </div>
                    <div class="try col-sm-5">
                        <a href="/viewmore/getuser" class="btn btn-default">See Donators</a>
                    </div>
                </div>
                
              </div>
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "layout/footer.html" %}

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
</body>

</html>