<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="{% static 'css/new.css' %}" rel="stylesheet">

		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
		<!-- <script src="{% static 'js/logic.js' %}"></script> -->
	{% include "layout/navbar.html" %}
	</head>


	<body class="bg-grey">
	
	
	{% for e in news%}
		<div class="container-fluid bg-white section-container rounded" id="bukutamu">
			<div class="row">
				<div class="col-md-4 left">
					<h1 style="color:white"> {{e.title}}</h1>
				</div>
				
				<a href='/viewmore/berita/{{ e.id }}/'>
				<div class="col-md-4">
					<div id="message-container" class="container-fluid">

					</div>
    <div class="row ">
        <div class="content col-md-4 left" >
          <img src="/static/img/01.jpg" alt="palu" style="width:200px;height:190px;border-radius: 50%;border-style: solid;
  border-width: 7px;">
          <div class="container">
            <h1></h1>
              
          </div>
        </div>
		</a>
    </div>
	
	
	
   					
				</div>
			</div>
		</div>
 {% endfor %}	
		
		
		
	</body>
	{% include "layout/footer.html" %}
	<script type="text/javascript">
		// using jQuery
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
</html>